In [8]:
import numpy as np
import pandas as pd

In [9]:
company = pd.read_csv('Companies US.csv')
company.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.80%,"$13,643.00",-7.20%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.10%,"$24,074.00",0.00%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.70%,"$45,687.00",-14.40%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.70%,"$7,840.00",-51.50%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.20%,"$2,258.00",53.00%,"$56,563","$31,439"

In [10]:
len(company)

500

In [21]:
sectors = company.groupby('Profit Change')

In [22]:
sectors

In [23]:
len(company)

500

In [24]:
len(sectors)

373

In [27]:
sectors.size().sort_values(ascending = False)

Profit Change
-         66
5.20%      4
5.80%      3
4.40%      3
5.00%      3
          ..
8.30%      1
8.00%      1
76.40%     1
73.30%     1
7.80%      1
Length: 373, dtype: int64

In [28]:
sectors.first()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Assets,Market Value
Profit Change,,,,,,,,,
-,11,AmerisourceBergen,"18,500",12.0,"$1,46,850",8.00%,"$1,427.90","$33,656","$19,229"
-0.20%,461,Wyndham Worldwide,"37,800",466.0,"$5,599",1.10%,$611.00,"$9,819","$8,829"
-0.30%,90,General Dynamics,"98,800",88.0,"$31,353",-0.40%,"$2,955.00","$32,872","$56,791"
-0.40%,159,Cummins,"55,400",148.0,"$17,509",-8.40%,"$1,394.00","$15,011","$25,397"
-1.10%,16,Costco,"1,72,000",15.0,"$1,18,719",2.20%,"$2,350.00","$33,163","$73,606"
...,...,...,...,...,...,...,...,...,...
9.60%,304,LKQ,"42,500",369.0,"$9,082",26.30%,$464.00,"$8,303","$9,021"
94.10%,186,DISH Network,"16,000",187.0,"$15,095",0.20%,"$1,449.90","$28,092","$29,547"
95.70%,75,Liberty Mutual Insurance Group,"50,000",73.0,"$38,308",-2.90%,"$1,006.00","$1,25,592",-
962.50%,491,Liberty Media,"3,626",525.0,"$5,276",10.00%,$680.00,"$31,377","$13,055"
99.70%,346,J.M. Smucker,"6,910",452.0,"$7,811",37.20%,$688.70,"$15,984","$15,263"

In [29]:
sectors.groups

{'-': [10, 12, 40, 48, 58, 95, 114, 126, 129, 133, 160, 167, 172, 174, 190, 195, 196, 202, 220, 221, 227, 228, 230, 241, 243, 262, 272, 277, 278, 284, 296, 299, 312, 325, 326, 328, 329, 331, 336, 342, 343, 346, 350, 355, 361, 366, 374, 375, 378, 382, 383, 398, 408, 417, 420, 425, 440, 443, 453, 466, 481, 484, 486, 487, 497, 498], '-0.20%': [460], '-0.30%': [89, 121], '-0.40%': [158], '-1.10%': [15, 16], '-1.20%': [409], '-1.80%': [188], '-10.00%': [31], '-10.10%': [300], '-10.40%': [80], '-10.50%': [151], '-10.60%': [76], '-10.80%': [69, 192], '-103.20%': [73], '-107.30%': [469], '-109.50%': [225], '-11.00%': [403], '-11.20%': [63], '-11.30%': [142], '-11.40%': [107], '-11.80%': [68, 441], '-110.80%': [18], '-12.10%': [232], '-12.30%': [320], '-12.40%': [98], '-12.80%': [229], '-12.90%': [256], '-13.00%': [339], '-13.40%': [397], '-13.50%': [29, 83, 377], '-13.60%': [478], '-13.90%': [393, 473], '-135.20%': [273], '-138.70%': [54], '-14.40%': [2], '-15.10%': [248], '-15.20%': [404], '-15.90%': [238], '-16.20%': [465], '-16.30%': [78, 267], '-16.60%': [433], '-17.20%': [285], '-17.40%': [149], '-178.20%': [189], '-18.30%': [298], '-18.50%': [338, 427], '-18.60%': [37], '-18.70%': [119], '-2.30%': [319], '-2.40%': [75], '-2.60%': [179], '-2.70%': [7, 128], '-2.80%': [8, 302], '-2.90%': [291], '-20.30%': [140, 250], '-20.40%': [208], '-200.60%': [161], '-204.80%': [265], '-21.20%': [281], '-21.30%': [330], '-21.40%': [104], '-21.70%': [101], '-21.80%': [459], '-22.60%': [47], '-220.70%': [444], '-23.60%': [120, 315], '-23.90%': [143], '-25.00%': [499], '-25.20%': [223], '-25.40%': [91], '-26.50%': [177], '-26.60%': [13, 106], '-27.50%': [102, 390], '-279.90%': [295], '-28.70%': [159], '-29.20%': [45], '-298.90%': [426], '-3.00%': [274, 362], '-3.10%': [17], '-3.20%': [451], '-3.40%': [70], '-3.50%': [28], '-3.60%': [132], '-3.90%': [380], '-30.50%': [258], '-30.80%': [44], '-31.80%': [148], '-33.00%': [373], '-33.60%': [49], '-35.70%': [217], '-36.20%': [354], '-37.20%': [416], '-37.60%': [182], '-37.70%': [9], '-385.00%': [327], '-39.70%': [138], '-39.90%': [369], '-4.00%': [437, 492], '-4.10%': [334], '-4.20%': [24], ...}