In [1]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv('Companies US.csv')
data.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.80%,"$13,643.00",-7.20%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.10%,"$24,074.00",0.00%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.70%,"$45,687.00",-14.40%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.70%,"$7,840.00",-51.50%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.20%,"$2,258.00",53.00%,"$56,563","$31,439"